/*rplanner class names changed to rplanner-wrapper    */

.rplanner-wrapper-button{
    box-sizing: border-box;
    //position:absolute;
    text-align:center;
    margin:2px 1px;
    padding:2px 5px;
    //left:28px;
    width:auto;
    height:24px;
    border-radius:4px;
    border:1px solid rgba(0,0,0,0.6);
    cursor:pointer;
    overflow:hidden;
    font-size:13px;
    background-color:rgba(157,3,0);
    color:white;
    white-space:nowrap;
}

.rplanner-wrapper-help-box{
    position:absolute;
    display:none;
    background-color: @white;
    color: @grayFont;
    bottom:calc(100% + 50px);
    padding:5px;
    left:2px;
    width:auto;
    height:auto;
    max-height:400px;
    max-width:500px;
    overflow-y:auto;
    border-radius:3px;
    border:1px solid rgba(0,0,0,0.6);
}

.rplanner-wrapper-closing-x{
       font-size:22px;
       position:static !important;
       margin:2px 1px !important;
       border-radius:4px;
       height:24px;
       width:24px;
       border:1px solid rgba(0,0,0,0.6);
}